h1{
  text-align: center;
  font-size: XXX-large;
  font-family:sans-serif;
  font-display:inherit;
}
.main_div{
  background-color: rgb(250, 250, 252);

}
input{
  font-size: x-large;
  font-family: sans-serif;
  margin-left: 600px;
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
}
button{
  margin-left: 700px;
  margin-top: 30px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: aqua;
}
ul{
  font-size: xx-large;
  font-family: sans-serif;
  margin-left: 620px;
  margin-top: 50px;
  font-weight: 200;
}
b{
  font-size:large;
  background-color: rgb(242, 177, 177);
  background-position: 0cap;
  width: 80px;
  height: 100px;
  border-radius:20%;
  margin-left: fixed;
  font-family: sans-serif;
}
h2{
  font-size: xx-large;
  font-family: sans-serif;
  margin-left: 400PX;
  margin-right: 200PX;
  margin-top:50PX;
  text-align:justify;
}
